<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="/../static/style.css">
<head>
	<title>Force Calc</title>
</head>
<body>

<h1>
Magswitch Force Calculator
</h1>

<p>
	Enter your thickness
</p>
	<form action = "" method = "post">
		<input type="text" name="thickness" placeholder="Thickness [mm]">
		<p>Select Your Material</p>
		<input type="radio" name="material" value="Steel" checked>Steel<br>
		<p>Select Your Tool</p>
		<input type="radio" name="unit" value="50x2" checked>50x2<br>
  		<input type="radio" name="unit" value="50x4">50x4<br>
		<input type="radio" name="unit" value="70x2">70x2
		<br>


		<input type="submit" name="submit" id="submit" value = "Calculate" /></p>
	</form>


  	{% if error %}
    <h2>{{ error }}
  	{% endif %}

  	{% if result %}
    <h2>Estimated Holding Force:</h2>
    <h3>{{ result }} Kg.</h3>
  	{% endif %}
</body>
</html>